
services:
  postgres:
    build: ./postgres
    container_name: survey-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: DEVOPS
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: abcabcabc
    ports: []

    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - survey-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  php:
    build: ./php
    container_name: survey-php
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - ./app:/var/www/html
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - survey-network

  nginx:
    build: ./nginx
    container_name: survey-nginx
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./app:/var/www/html
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - php
    networks:
      - survey-network

networks:
  survey-network:
    driver: bridge

volumes:
  postgres_data:
    driver: local